    <section>
      <aside>
        <h1>Michelle's Blog</h1>
        <div class="post-form">
          <p>Write a blog post!</p>
          
            <input type='text' id='title' name='title' class='field' placeholder='your title goes here...'/>
            <input type='text' id='post' name='post' class='field' placeholder='your blog post goes here...'/>
            <input type='submit' value='Submit' id='new' class='submit-feild' />

        </div>

      </aside>
      <article>
        <h1>Blog Posts</h1>

        <div id='posts'>
        </div>

      </article>
    </section>
